In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
grades = {"Atil": 50, "James": 60, "Lars": 30}

In [4]:
pd.Series(grades)

Atil     50
James    60
Lars     30
dtype: int64

In [6]:
names = ["Atil", "James", "Lars"]
grades = [50,60,30]

In [7]:
pd.Series(names)

0     Atil
1    James
2     Lars
dtype: object

In [8]:
pd.Series(grades)

0    50
1    60
2    30
dtype: int64

In [9]:
pd.Series(grades,names)

Atil     50
James    60
Lars     30
dtype: int64

In [10]:
pd.Series(data=grades, index=names)

Atil     50
James    60
Lars     30
dtype: int64

In [11]:
# with numpy

In [12]:
numpy_array = np.array([50,40,30,20])

In [13]:
pd.Series(numpy_array)

0    50
1    40
2    30
3    20
dtype: int32

In [14]:
# arithmetic

In [15]:
contest_result = pd.Series(data = [10,5,100], index=["Atil","James","Lars"])

In [22]:
contest_result2 = pd.Series(data = [20,50,10], index=["Atil","James","Lars"])

In [23]:
contest_result

Atil      10
James      5
Lars     100
dtype: int64

In [24]:
contest_result["Atil"]

10

In [25]:
contest_result["James"]

5

In [26]:
final_result = contest_result + contest_result2

In [28]:
final_result

Atil      30
James     55
Lars     110
dtype: int64

In [29]:
contest_result - contest_result2

Atil    -10
James   -45
Lars     90
dtype: int64

In [30]:
contest_result * contest_result2

Atil      200
James     250
Lars     1000
dtype: int64

In [31]:
contest_result / contest_result2

Atil      0.5
James     0.1
Lars     10.0
dtype: float64

In [32]:
different_series = pd.Series([20,30,40,50],["a","b","c","d"])

In [33]:
different_series

a    20
b    30
c    40
d    50
dtype: int64

In [34]:
different_series2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [35]:
different_series2

a    10
c     5
f     3
g     1
dtype: int64

In [36]:
different_series + different_series2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64