In [1]:
# for loop, while loop

In [2]:
# for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0] / 5 * 2

4.0

In [5]:
my_list[1] / 5 * 2

8.0

In [6]:
for num in my_list:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [7]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [8]:
#6 ya tam bölünen sayıları yazdır
for x in my_list:
    if x % 6 == 0:
        print(x)

30
60

In [9]:
my_string = "atil samacioglu"

In [10]:
for c in my_string:
    print(c)

a
t
i
l

s
a
m
a
c
i
o
g
l
u

In [11]:
my_tuple = (10,20,30,40,50,60,70)

In [12]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [13]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [14]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [15]:
len(my_new_list)

4

In [16]:
my_new_list[0]

('a', 'b')

In [17]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [18]:
#tuple unpacking

In [19]:
my_new_list[0][1]

'b'

In [20]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [21]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [22]:
len(my_tuple_list)

4

In [23]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [24]:
my_set = {1,2,3,4,5}

In [25]:
my_set

{1, 2, 3, 4, 5}

In [26]:
len(my_set)

5

In [27]:
type(my_set)

set

In [28]:
for num in my_set:
    print(num)

1
2
3
4
5

In [29]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [30]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [31]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [32]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [33]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [34]:
# continue - break - pass

In [35]:
my_list = [10,20,30,40,50,60,70]

In [36]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [37]:
40 in my_list

True

In [38]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break

10
20
30
40
yes

In [39]:
my_list = [10,20,30,40,50,60,70]

In [40]:
for number in my_list:
    if number == 40:
        continue #o turdaki kalan kodu atlar ve direkt bir sonraki döngü turuna geçer
    print(number)

10
20
30
50
60
70

In [41]:
for num in my_list:
    pass

In [42]:
#while

In [43]:
x = 0

In [44]:
print("while loop started")
while x < 10:
    print(x)
    x = x + 1
print("while loop ended")

while loop started
0
1
2
3
4
5
6
7
8
9
while loop ended

In [45]:
last_list = [10,20,30,40,50]

In [46]:
while 20 in last_list:
    print("20 in last_list")
    last_list.pop()

20 in last_list
20 in last_list
20 in last_list
20 in last_list

In [47]:
my_list = [10,20,30]

In [48]:
my_list

[10, 20, 30]

In [49]:
print(my_list)

[10, 20, 30]

In [50]:
print(f"my list: {my_list}")

my list: [10, 20, 30]

In [51]:
name = input("enter name: ")

enter name: zeynep

In [52]:
print(f"welcome {name}")

welcome zeynep

In [53]:
print("welcome", name)

welcome zeynep

In [54]:
p = 0
while p < 20:
    print(f"value of p: {p}")
    p += 1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9
value of p: 10
value of p: 11
value of p: 12
value of p: 13
value of p: 14
value of p: 15
value of p: 16
value of p: 17
value of p: 18
value of p: 19